.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #cf4a4a;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.logout {
  background-color: #b58282;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
